<header class="header">
  <nav>
    <div id=contenu1> 
      <h1 id="logo">RECRUTEMENT</h1>
    </div>
    <div id=contenu2>
      <ul>
          <li><a class="voir_les_offres" href="#">Voir les offres</a></li>
          <li><a class="se_connecter" href="#">Se connecter</a></li>
          <li><a class="s_inscrire" href="#">S'inscrire</a></li>
          <li><a class="français" href="#">Français</a></li>
      </ul>
    </div>
  </nav>
</header>

<img src="https://www.roberthalf.ca/sites/roberthalf.ca/files/2021-04/shutterstock_412257712-2.jpg" width="102%">
<p class="titre"><strong>Voir les offres </strong></p>
<a href="#" class="métier">offres par métier</a>
<a href="#" class="région">offres par région</a>
<a href="#" class="secteur">offres par secteur</a>
<a href="#" class="entreprise">offres par entreprise</a>

<a href="#" class="cv">Déposez votre CV</a>

<form id= "searchbox" method= "get" action= "/search">
<input name= "q" type= "text" size= "15" placeholder= "Taper ici…"/>
<input id= "button-submit" type= "submit" value= "Rechercher" />
</form>
<p class="chercher"><strong>Cherchez en tapant des mots clés ici:</strong></p>
<p class="ll">bjkbhkkkfrsdffs,kfvdjvvdvfvjgj</p>