*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none ;
    list-style: none;
}
li
{
    font-size: 1.4rem;
    justify-content: space-around;
}
a.voir_les_offres, a:hover
{
    background:#5fa9e2;
    height: 48px;

}
 a
 {
     color: white;
     background-color: #0082e6;
 }
.header
{
    background-color:#0082e6;
    color: white;
    height: 48px;
    width: 100%;
    position: absolute;
    top: 0%;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul
{
    display: flex;
    flex: 1 1 40rem;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
#logo
{
    flex: 1 1 40rem;  
    align-items: center;
}
#contenu1
{
    font:Verdana, Geneva, sans-serif;
    font-size:18px;
    text-align:left;
    height:50px;
    vertical-align:middle;
    line-height: 50px;
    }
#contenu2
{
    font:Verdana, Geneva, sans-serif;
    font-size:18px;
    text-align:right;
    height:50px;
    vertical-align: middle;
    line-height: 50px;
}   
.français
{position: absolute;
    top: 0%;
    right: 10px;
    height: 25px;
}
.s_inscrire
{position: absolute;
    top: 0%;
    right: 175px;
    height: 25px;
}
.se_connecter
{position: absolute;
    top: 0px;
    right: 325px;
    height: 25px;
}
.voir_les_offres
{position: absolute;
    top: 0%;
    right: 520px;
    height: 25px;
}
.titre
{
    position: absolute;
    font-size: 3rem;
    top: 48px;
    color: #d8d8d8;
    background-color: #555;
    border: #555 solid 8.5px;
}
.métier
{
    position: absolute;
    top: 220px;
    left: 100px;
    color: white;
    background-color: black;
    font-size: 2.5rem;
    border: solid black 4px;
   
}
.région
{
    position: absolute;
    top: 370px;
    left: 300px;
    color: white;
    background-color: black;
    font-size: 2.5rem;
    border: black 4px solid; 
}
.secteur
{
    position: absolute;
    top: 220px;
    left: 900px;
    color: white;
    background-color: black;
    font-size: 2.5rem;
    border: black 4px solid; 
}
.entreprise
{
    position: absolute;
    top: 370px;
    left: 700px;
    color: white;
    background-color: black;
    font-size: 2.5rem;
    border: black 4px solid; 
}
.cv
{
    position: absolute;
    top: 520px;
    left: 500px;
    color: black;
    background-color: #ddc798;
    font-size: 2.5rem;
    border: #ddc798 4px solid; 
}

#searchbox {
    background: #d8d8d8;
    border: 4px solid #d8d8d8;
    padding: 15px 10px;
    width: 300px;
    position: absolute;
    right: 0px;
    top: 48px;
    }
    
    input:focus::-webkit-input-placeholder {
    color: transparent;
    }
    input:focus:-moz-placeholder {
  color: transparent;
  }
  
  input:focus::-moz-placeholder {
  color: transparent;
  }
  
  #searchbox input {
  outline: none;
  }
  
  #searchbox input[type= "text"] {
  background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 6px #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: black;
  width: 55%;
  padding: 8px 15px 8px 30px;
  }
  
  #button-submit {
  background: #6A6F75;
  border-width: 0px;
  padding: 9px 0px;
  width: 25%;
  cursor: pointer;
  font: bold 12px Arial, Helvetica;
  color: #fff;
  text-shadow: 0 1px 0 #555;
  }
  
  #button-submit:hover {
  background: #4f5356;
  }
  
  #button-submit:active {
  background: #5b5d60;
  outline: none;
  }
  #button-submit::-moz-focus-inner {
  border: 0;
  }
  form
  {
      position: absolute;
      top: 50px;
      right: 0px;
  }
.chercher
{
    position: absolute;
    top: 32px;
    right: 200px;
    zoom: 150%;
    color: #555;
    background-color: #d8d8d8;
    border: #d8d8d8 solid 15px;

}
.ll
{
    color: #d8d8d8;
    background-color: #d8d8d8;
    position: absolute;
    top: 32px;
    left: 203px;
    zoom: 150%;
    border: #d8d8d8 solid 15px;
}